.container {
	display: flex;
	flex-direction: column;
	width: 80vw;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 1024px) {
		width: 40vw;
	}

	h3 {
		font-size: 2rem;
		color: black;
	}

	.inputContainer {
		height: auto;
		padding: 1%;
		background-color: rgba(248, 221, 170, 0.2);
		border: 2px solid rgba(248, 221, 170, 0.8);
		border-radius: 10px;
		color: black;
		&:hover {
			background-color: rgba(248, 221, 170, 0.8);
			transition: background-color 0.3s ease;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 1rem; // space between fields
	}

	.inputGroup {
		display: flex;
		flex-direction: column;

		> p {
			font-family: 'Raleway';
			text-align: left;
		}
	}

	.buttonContainer {
		width: 50%;
		margin: auto;
		font-size: 80%;
		transition: all 0.1s ease;
		font-family: 'Raleway', sans-serif;
		border-radius: 10px;
		margin-bottom: 8%;
		cursor: pointer;
		margin-top: 1rem;
		font-weight: 600;
		color: #000;
		background-color: #fdb33a;
		padding: 0.75rem 1.25rem;
		border-radius: 8px;
		text-decoration: none;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #ffd391;
		}
		text-decoration-line: none;
	}
	.formInput {
		padding: 0.6rem;
		border: 2px solid rgba(248, 221, 170, 0.8);
		border-radius: 10px;
		font-size: 1rem;
		color: rgb(0, 0, 0);

		&:focus {
			outline: none;
			border-color: rgba(248, 221, 170, 1); // slightly darker on focus
		}
	}
}
