.buttonContainer {
	.button {
		width: auto;
		height: auto;
		font-family: 'Poppins', sans-serif;
		font-size: 1rem;
		transition: all 0.1s ease;
		background-color: #34000f;
		border-radius: 10px;
		cursor: pointer;
		text-decoration: none;
		color: #fff7e3;
		margin-bottom: 3%;
		text-align: left;
		animation: bounce 1s infinite;
		font-weight: 500;
	}

	.button:hover {
		text-decoration: none;
		transition: none;
		color: #fff7e3;

		animation: none;
		background-color: #34000fd1;
		font-weight: 550;
	}

	@keyframes bounce {
		0%,
		20%,
		50%,
		80%,
		100% {
			transform: translateY(0);
		}
		40% {
			transform: translateY(-10px);
		}
		60% {
			transform: translateY(-5px);
		}
	}
}
