.container {
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: row;
	height: auto;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	align-items: center;
	border-radius: 40px;
	background-color: #fffaef;
	@media screen and (max-width: 1024px) {
		flex-direction: column;
		width: 100vw;
		margin-right: 0%;
		margin-left: 0%;
	}

	.imgContainer {
		width: 50%;
		border-radius: 60px;
		cursor: pointer;

		@media screen and (max-width: 1024px) {
			width: 100vw;
			height: 400px;
		}
		background-repeat: no-repeat;
		background-size: cover;

		background-position: center;
		transition: all 0.05s;
		height: 550px;
		background-image: url('./giftGuide.png');
	}
	.text {
		width: 50%;

		.button {
			margin-right: auto;
			margin-left: auto;
			text-align: center;
			margin-bottom: 3%;
		}
		@media screen and (max-width: 1024px) {
			width: 100vw;
		}
		> h1 {
			font-family: 'Frank Ruhl Libre', serif;
			font-optical-sizing: auto;
			color: #000000;
			font-size: 2.5rem;
			font-style: italic;
			text-align: center;
		}
	}
}
