.limitedTag {
	position: absolute;
	top: 10px;
	left: 10px;
	text-decoration: none;
	background-color: #34001b;
	font-weight: 500;
	color: #fff4e7;
	font-size: 0.8rem;

	text-transform: uppercase;
	padding: 5px 10px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

	@media screen and (max-width: 1024px) {
		font-size: 0.5rem;
	}
}
