.container {
	margin-bottom: 3%;
	background-color: #fff7e354;
	width: 100%;
	margin: 0 auto;

	@media screen and (max-width: 1024px) {
		padding: 0 3%;
		width: 100vw;
	}
}

.benefitSlide {
	display: flex !important; /* Ensure each slide centers content */
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.benefits {
	width: 300px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	padding: 2% 0;

	@media screen and (max-width: 1024px) {
		animation-duration: 10s; // Slower scroll on mobile for readability
	}
	h4 {
		color: #34001b;
		font-size: 1.2rem;
		margin-top: 1rem;
	}
	.pContainer {
		font-size: 1rem;
		margin-top: 0.5rem;
	}
}
