.cart {
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	padding: 3%;
	text-decoration: none;
	z-index: 1;
	.hContainer {
		margin-bottom: 3%;
		text-align: center;
		font-size: 3rem;
	}

	.frame {
		font-size: 1rem;
	}

	.image {
		height: 30%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
	}

	.tableHeader {
		font-size: large;
	}

	.textContainer {
		padding-top: 2%;

		.pTotal {
			position: relative;
			font-style: italic;
			padding-right: 1%;
			@media screen and (width: 1024px) {
			}

			@media screen and (min-width: 1025px) {
				font-size: 45px;
			}

			@media screen and (min-width: 880px) {
				font-size: 35px;
			}
		}

		.pTva {
			position: relative;
			font-style: italic;

			@media screen and (min-width: 1025px) {
				font-size: 20px;
			}
		}
	}

	.buttonContainer {
		position: relative;
		display: flex;
		flex-direction: column;
		position: relative;
		font-family: 'Raleway', sans-serif;
		float: right;
		color: black;
		.checkoutContainer {
			background-color: rgba(248, 221, 170, 0.484);
			@media screen and (min-width: 1025px) {
				width: 30vw;
				height: 60px;
				font-size: 20px;
			}
			@media screen and (min-width: 880px) {
				font-size: 20px;
				width: 35vw;
			}
		}

		.shopContainerButton {
			@media screen and (min-width: 880px) {
				width: 35vw;
			}
			width: 30vw;
			font-style: italic;
			text-decoration: none;
			font-size: 20px;
			color: black;
		}
	}
}
