@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Literata:ital,opsz@1,7..72&display=swap');

.container {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;

	.fixedContainer {
		position: sticky;
		// top: 100;
		// z-index: 0;
		font-family: 'Liberata', serif;
		// padding: 5%;
		display: block;
		.textP {
			font-family: Roboto;
			// padding-top: 5%;
		}
	}

	@mixin myContainer($color, $width, $borderColor) {
		width: $width;
		height: auto;
		background-color: $color;
		background-image: $color;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		transition: all 0.05s;
		// height: calc(100vh - 70px);

		border-width: 1px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.text {
			font-family: 'Liberata', serif;
			padding: 5%;
			// opacity: 1;
			// text-decoration: none;
			// color: rgb(0, 0, 0);
			// font-weight: 500;
			// letter-spacing: 0.6px;
			// font-family: Roboto;

			// font-size: 100px;

			.textP {
				font-family: Roboto;
				// font-size: 12px;
				padding-top: 5%;
			}
		}
	}

	@media screen and (min-width: 1025px) {
		.checkoutContainer {
			@include myContainer(rgba(255, 255, 255, 0.615), 58%, rgb(255, 255, 255));
		}
		.shoppingContainer {
			@include myContainer(rgba(248, 221, 170, 0.2), 42%, rgb(180, 235, 0));
		}
	}

	@media screen and (max-width: 1024px) {
		.checkoutContainer {
			@include myContainer(
				rgba(255, 255, 255, 0.615),
				100%,
				rgb(255, 255, 255)
			);
		}
	
	}
}
