.container {
	@media screen and (max-width: 1024px) {
		flex-direction: column;
	}
	display: flex;
	flex-direction: row;
	height: 50%;
	margin: 3%;

	.firstContainer {
		@media screen and (max-width: 1024px) {
			width: 95vw;
			margin-bottom: 3%;
		}
		width: 50%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		transition: all 0.05s;
		background-image: url('../images/jumi.svg');
		margin-right: 2%;
		min-height: 500px;
	}

	.colorsChoice {
		display: flex;
		flex-direction: column;
		.colors {
			@media screen and (max-width: 1024px) {
				width: 95vw;
			}
			width: 50vw;
		}
		> h3 {
			margin-top: 3%;
			margin-left: 2%;
			margin-bottom: 5%;
			text-align: left;
		}
		.buttonContainer {
			align-self: center;
			.button {
				width: auto;
				height: auto;
				font-family: 'Raleway', sans-serif;
				font-size: 0.9rem;
				transition: all 0.1s ease;
				background-color: #fff7e3;
				border: 0.1px solid #7684ff;
				cursor: pointer;
				text-decoration: none;
				border-radius: 60px;
				color: #7684ff;
			}

			.button:hover {
				text-decoration: none;
				transition: none;
				color: #fff7e3;
				background-color: #acb4ff;
			}
		}
	}
}
