@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container {
	// justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Raleway', sans-serif;
	width: 90vw;
	text-align: center;

	.title {
		padding-top: 5%;
		padding-bottom: 5%;
		text-align: center;
	}

	.paragraph {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 70vw;
	}
}

.rowContainer {
	display: flex;
	flex-direction: column;
}

.colors {
	padding-top: 4%;
}

.colorsContainer {
	@media screen and (max-width: 1025px) {
		width: 97vw;
	}
	width: 70vw;
	border-radius: 5%;
	margin-left: auto;
	margin-right: auto;
}
.flipcards {
	overflow-x: scroll;
	overflow-y: hidden;
}

.flipcards::-webkit-scrollbar {
	display: none;
}

.researchers {
	padding-right: 5%;
}

.desc {
	display: flex;
	flex-direction: column;
	padding-top: 2%;
	border-top: 0.4px solid rgba(0, 0, 0, 0.151);
	border-radius: 5px;
	transform-style: preserve-3d;
	> p {
		padding-left: 1%;
	}

	> h4 {
		font-style: italic;
		font-weight: 600;
	}
}
