// * {
// 	background-color: #fff6ec;
// }
.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Gilda Display', serif;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 5%;
	padding-bottom: 5%;
	> h3 {
		font-size: 2rem;
		color: black;
		text-align: center;
	}
}
