.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;

	font-family: 'Poppins', sans-serif;

	> h2 {
		font-family: 'Poppins', sans-serif;
		text-align: center;
		.email {
			color: #7684ff;
		}
		.socialMediaIcons {
			width: 30px;
		}
	}

	> img {
		width: 300px;
	}
}
