.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 80%;
	margin-right: auto;
	margin-left: auto;

	font-family: 'Poppins', sans-serif;
	> h1 {
		text-align: left;
	}
	> h2 {
		> a {
			text-decoration: none;
		}
		font-family: 'Poppins', sans-serif;
		text-align: center;
		.email {
			color: #420000;
		}
		.socialMediaIcons {
			width: 30px;
		}
	}
}
