.container {
	h3 {
		font-size: 2rem;
		color: rgba(248, 221, 170, 0.8);
	}

	.inputContainer {
		height: auto;
		padding: 1%;
		background-color: #34001b;
		border: 2px solid #34001b;
		border-radius: 10px;
		color: rgba(248, 221, 170, 0.8);
		&:hover {
			background-color: #34000fd1;

			transition: background-color 0.3s ease;
		}
	}

	.formInput {
		border: 2px solid #34001b;
		border-radius: 10px;
		text-decoration: none;
	}

	.buttonContainer {
		font-weight: 500;
		color: #fff7e3;
	}
}
