@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.resumeContainer {
	padding-top: 4%;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;

	justify-content: center;

	.textContainer {
		display: flex;
		justify-content: space-between;
	}

	.textContainerAfter {
		display: flex;
		justify-content: space-between;
		padding-bottom: 4%;
	}
}
