.dropdownContainer {
	width: 60vw;
	margin-top: 3%;
	word-wrap: break-word;

	@media screen and (max-width: 1024px) {
		width: 100vw;
	}

	.dropdown {
		padding-left: 8%;
		word-wrap: break-word;
	}
}
