@media screen and (min-width: 1025px) {
	.body {
		.container {
			display: flex;
			flex-direction: row;
			padding-top: 5%;
			padding-bottom: 5%;
			justify-content: space-evenly;

			.posterContainer {
				display: flex;
				flex-direction: column;
				> img {
					align-self: center;
					margin-top: 4%;
				}
			}

			.bodySwatches {
				display: flex;
				flex-direction: 'row';
				align-self: flex-start;
				padding-top: 4%;
				align-self: center;
			}

			.gradientDiv {
				transform-style: preserve-3d;
				box-shadow: rgba(209, 204, 176, 0.493) 0px 1px 5px;
				justify-content: center;
				width: 30vw;
				min-height: 80vh;
				font-family: 'Alice', serif;
				font-weight: 400;
				font-style: normal;
				cursor: default;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-self: center;
				z-index: 1;
				position: relative;
			}

			@media screen and (min-width: 1300px) {
				.gradientDiv {
					padding-left: 2%;
					margin-left: 0%;
					width: 30vw;
					min-height: 70vh;
					display: flex;
				}
			}

			.gradientTitle {
				font-size: 3rem;
				padding-top: 5%;
			}

			.frameContainer {
				width: 25vw;
			}

			.descriptionContainer {
				width: 25vw;
				display: flex;
				flex-direction: column;
				align-items: center;

				font-family: 'Raleway', sans-serif;
				text-align: left;

				.titleContainer {
					border-bottom: 0.1ch solid rgba(159, 153, 153, 0.379);
					width: 25vw;
					> h1 {
						font-size: xx-large;
						font-style: italic;
					}
				}

				.paragraphContainer {
					padding-top: 3%;
					text-align: justify;

					> p {
						font-family: 'Raleway', sans-serif;
						padding-top: 5%;
					}
				}

				.buttonContainer {
					padding-top: 5%;
					padding-bottom: 5%;
					.button {
						width: 25vw;
						height: 6vh;
						font-family: 'Raleway', sans-serif;
						border: 0.1px solid rgba(221, 204, 174, 0);
						text-align: center;
						font-size: 90%;
						transition: all 0.1s ease;
						border-radius: 20px;
						background-color: #fff7e3;
						cursor: pointer;
						text-decoration: none;
					}

					.button:hover {
						text-decoration: none;
						transition: none;
						background-color: rgba(248, 221, 170, 0.6);
					}
				}

				.detailsContainer {
					align-self: flex-start;
				}
			}

			.current {
				opacity: 1;
				transform: translateX(0);
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.body {
		margin-top: 0%;
		padding-left: 0%;
		margin-left: 0%;
		border-left: 0;
		.container {
			flex-direction: row;
			align-items: center;
			padding-bottom: 5%;
			padding-left: 0;
			padding-right: 0;
			margin-left: auto;
			margin-right: auto;
			font-family: 'Raleway', sans-serif;
			display: flex;
			width: 100vw;

			.bodySwatches {
				display: flex;
				flex-direction: 'row';
				justify-content: center;
			}

			.gradientDiv {
				padding-left: 0%;
				margin-left: 0%;
				border-left: 0%;
				width: 100vw;
				min-height: 60vh;
				font-family: 'Alice', serif;
				font-weight: 400;
				font-style: normal;
				cursor: default;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			.gradientTitle {
				font-size: 3rem;
				padding-top: 2%;
			}

			.frameContainer {
				width: 90vw;
				padding: 4%;
			}

			.imageSlideCorner {
				transition: all 0.1s ease;

				justify-content: center;
				position: relative;
				width: 7vw;
				height: 15vh;
			}

			@media screen and (min-width: 700px) {
				.gradientDiv {
					padding-left: 2%;
					margin-left: 0%;
					width: 70vw;
					height: 60vh;
					display: flex;
				}
			}

			.columnFlex {
				display: flex;
				flex-direction: column;
			}

			.descriptionContainer {
				font-family: 'Raleway', sans-serif;
				text-align: left;
				justify-content: center;
				.bodySwatches {
					width: 95vw;

					display: flex;
					flex-direction: 'row';

					position: relative;
					bottom: 35vh;

					justify-content: center;
				}

				.titleContainer {
					margin-left: 3%;

					width: 95vw;
					border-bottom: 0.1ch solid rgba(159, 153, 153, 0.379);
					padding-left: 1%;
					> h1 {
						font-size: xx-large;
						font-style: italic;
					}
				}

				.paragraphContainer {
					margin-left: 2%;
					text-align: justify;

					padding-top: 5%;
					padding-left: 1%;
					width: 95vw;

					> p {
						font-family: 'Raleway', sans-serif;
					}
				}

				.buttonContainer {
					padding-bottom: 2%;
					.button {
						width: 100vw;
						height: 50px;
						font-family: 'Raleway', sans-serif;
						border: 0.1px solid rgba(221, 204, 174, 0);
						font-size: 90%;
						transition: all 0.1s ease;
						border-radius: 20px;
						background-color: #fff7e3;
						cursor: pointer;
						text-decoration: none;
					}

					.button:hover {
						text-decoration: none;
						transition: none;
						background-color: rgba(248, 221, 170, 0.6);
					}

					.detailsContainer {
						padding-left: 1%;
					}
				}
			}
		}
	}
}
