@media screen and (min-width: 1024px) {
	.promotionTextContainer {
		height: 30px;
		width: 100%;
		position: relative;
		top: 0;
		vertical-align: baseline;
		background-color: #fff7e3;

		display: flex;
		flex-direction: row; //default value
		align-items: center;
		justify-content: space-evenly;
		font-family: 'Raleway', sans-serif;
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 15px;
		font-weight: 600;
		padding-top: 1%;

		.socialMediaLogo {
			display: inline-block;
			vertical-align: top;
			list-style: none;
			margin: 0;
			top: 0;
			line-height: 15px;
			color: black;
			position: absolute;
			left: 5px;

			.socialMediaIcons {
				width: 25px;
				height: 25px;
				margin: none;
				border: none;
			}
		}

		.contactText {
			display: flex;
			flex-direction: row;
			list-style: none;
			margin: 0;
			font-weight: 500;
			position: absolute;
			right: 5px;
		}
	}
	.stillPositionContainer {
		.upperContainer {
			width: 100%;
			background-color: rgb(255, 255, 255);
			font-family: 'Raleway', sans-serif;
			justify-content: center;
			display: flex;
			flex-direction: row;
			padding-top: 1%;
			padding-bottom: 1%;

			> img {
				width: 200px;
				padding: 1%;
				cursor: pointer;
			}

			.cartContainer {
				position: absolute;
				text-decoration: none;
				font-family: 'Raleway', sans-serif;
				color: #000000;
				left: 75vw;
				top: 18vh;
				.iconSize {
					width: 30px;
				}
			}
		}

		.underContainer {
			position: sticky;
			top: 150px;
			bottom: auto;
			height: 60px;
			width: 100%;
			background-color: rgb(255, 255, 255);
			border-top: 0.1ch solid rgba(135, 135, 135, 0.144);
			border-bottom: 0.1ch solid rgba(135, 135, 135, 0.144);
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
			.link {
				text-decoration: none;
				font-family: 'Raleway', sans-serif;
				color: rgb(0, 0, 0);
				font-weight: 600;
				font-size: 1rem;
			}
		}
	}
}

//smartphone size
@media screen and (max-width: 1024px) {
	.promotionTextContainer {
		height: 35px;

		@media screen and (max-width: 280px) {
			height: 45px;
		}

		width: 100%;
		position: relative;
		top: 0;
		padding-top: 1%;
		background-color: #fff7e3;
		display: block;
		font-family: 'Raleway', sans-serif;
		text-align: center;
		text-decoration: none;
		color: rgb(0, 0, 0);
		font-size: 15px;
		font-weight: 600;
	}

	.stillPositionContainer {
		justify-content: space-between;
		display: flex;
		font-family: 'Raleway', sans-serif;
		align-items: center;
		padding: 0;
		border-bottom: 0.1ch solid rgba(135, 135, 135, 0.144);
		.shoppingButton {
			padding-right: 7%;
			margin: 0;
			text-decoration: none;
			color: rgb(0, 0, 0);
			.iconSize {
				width: 30px;
			}
		}

		.link {
			text-decoration: none;
			font-family: 'Raleway', sans-serif;
			color: rgb(0, 0, 0);
			font-weight: 400;
			font-size: 18px;
		}

		> drawerlink {
			text-decoration: none;
			font-family: 'Raleway', sans-serif;
			color: rgb(0, 0, 0);
			font-weight: 400;
			font-size: 40px;
		}
		> h1 {
			position: relative;
			left: -25px;
			font-size: 70px;
			display: flex;
			text-align: center;
			font-family: 'Raleway', sans-serif;
			padding: 10%;
		}

		> img {
			width: 170px;
			padding-top: 3%;
			padding-bottom: 3%;
			padding-right: 16px;
			cursor: pointer;
		}

		.socialMediaLogo {
			list-style: none;
			color: pink;
			position: absolute;
			left: 5px;
			display: flex;
			flex-direction: row;
			top: 200px;

			.socialMediaIcons {
				width: 25px;
				height: 25px;
				margin: none;
				border: none;
			}
		}
	}
}
