.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: 'Raleway', sans-serif;

	.homePhoto {
		margin-top: 3%;
	}
	.ourstory {
		margin: 3%;
		width: 50%;
	}
	.text {
		margin-left: 3%;
	}

	.inspoImages {
		margin-left: auto;
		margin-right: auto;
		font-family: 'Raleway', sans-serif;
		width: 90vw;
		text-align: center;

		overflow-x: scroll;
		overflow-y: hidden;
	}

	.inspoImages::-webkit-scrollbar {
		display: none;
	}

	.introductionContainer {
		width: auto;
		align-self: center;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		box-sizing: border-box;
		border-collapse: separate;
		padding-top: 3%;

		.title {
			font-size: 2.5rem;
			color: #6557ff;
		}

		.subtitle {
			padding-top: 1%;
			font-size: 2rem;
		}

		.buttonContainer {
			.button {
				width: auto;
				height: auto;
				font-family: 'Raleway', sans-serif;
				font-size: 1.2rem;
				transition: all 0.1s ease;
				background-color: #fff7e3;
				cursor: pointer;
				text-decoration: none;
			}

			.button:hover {
				text-decoration: none;
				transition: none;
				background-color: rgba(253, 231, 189, 0.6);
			}
		}
	}

	.colorsContainer {
		@media screen and (max-width: 1024px) {
			flex-direction: column;
			align-items: center;
		}

		display: flex;
		flex-direction: row;
		align-self: center;
		.jumi {
			@media screen and (max-width: 1024px) {
				width: 300px;
				margin-right: 0%;
				height: auto;
			}
			width: 400px;
			height: 400px;
			padding: 1%;
			margin-right: 5%;
		}

		.colorsChoice {
			display: flex;
			flex-direction: column;
			.colors {
				@media screen and (max-width: 1024px) {
					width: 95vw;
				}
				width: 50vw;
			}
			> h3 {
				margin-top: 3%;
				margin-left: 2%;
				margin-bottom: 5%;
				text-align: left;
			}
			.buttonContainer {
				align-self: center;
				.button {
					width: auto;
					height: 50px;
					font-family: 'Raleway', sans-serif;
					border: 0.1px solid rgba(221, 204, 174, 0);
					font-size: 1rem;
					transition: all 0.1s ease;
					background-color: #fff7e3;
					cursor: pointer;
					text-decoration: none;
				}

				.button:hover {
					text-decoration: none;
					transition: none;
					background-color: rgba(248, 221, 170, 0.6);
				}
			}
		}
	}

	.introductionImgContainer {
		width: 100%;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		transition: all 0.05s;
		height: 500px;
		display: flex;
		background-image: url('../images/homeimg.png');
		background-blend-mode: lighten;
	}

	.sustenabilityTextContainer {
		padding: 1%;
		margin: 3%;
		width: 80%;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		font-size: 25px;

		color: #0f1928;
		box-sizing: border-box;
		border-collapse: separate;
		// padding: 2%;

		> img {
			width: 70px;
		}
	}
}

.products {
	padding: 2%;
	margin: 3%;
	width: 90%;
	display: flex;
	flex-direction: row;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	cursor: grab;
}
