.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: 'Poppins', sans-serif;

	.centeredContainer {
		text-align: center;
	}
	.photoGridDesktop {
		margin-right: 3%;
		margin-left: 3%;
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(2, 1fr);
	}

	.photoGridItem {
		position: relative;
		overflow: hidden;

		transition: all 0.3s ease;

		&:hover {
			box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		}
		&:first-child {
			.photoOverlay {
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				padding: 1.5rem;
				background: linear-gradient(
					to top,
					rgba(0, 0, 0, 0.7) 0%,
					transparent 100%
				);
				color: #fff7e3;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;

				.overlayText {
					font-size: 1rem;
					margin-bottom: 1rem;
					font-weight: 500;

					> h1 {
						font-family: 'Poppins', serif;
						font-optical-sizing: auto;
						font-size: 1.8rem;

						text-align: left;
					}
					> p {
						font-size: 1rem;
					}
				}
			}
		}
	}

	.photoGridImg {
		width: 100%;
		height: auto;
		display: block;
		object-fit: cover;
		aspect-ratio: 4/5;
		border: 1px solid #f0f0f0;
	}

	.homePhoto {
		margin-top: 3%;
	}
	.ourstory {
		margin: 3%;
		width: 50%;
	}
	.text {
		margin-left: 3%;
		margin-top: 3%;
		margin-bottom: 2%;
	}

	.inspoImages {
		margin-left: auto;
		margin-right: auto;
		font-family: 'Poppins', sans-serif;
		width: 90vw;
		text-align: center;
		overflow-x: scroll;
		overflow-y: hidden;
	}

	.inspoImages::-webkit-scrollbar {
		display: none;
	}

	.introductionContainer {
		width: auto;
		margin: auto;
		text-align: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		padding: 2rem;
		border-radius: 10px;
		animation: fadeToRight 3s ease forwards;
		margin-bottom: 5%;

		.mobileOnlyText {
			display: none;
			text-align: center;
			margin-top: 1rem;
			color: #fff7e3;
			padding: 2%;
		}

		/* Show only on mobile devices */
		@media only screen and (max-width: 768px) {
			.mobileOnlyText {
				display: block;
			}
		}

		/* Keyframes for fade-to-right animation */
		@keyframes fadeToRight {
			0% {
				transform: translateX(0);
				opacity: 0;
			}
			100% {
				transform: translateX(0);
				opacity: 1;
			}
		}

		@media (max-width: 1024px) {
			width: 100vw;
			text-align: center;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			border-radius: 10px;
			transition: transform 0.3s ease;
			padding: auto;
			padding: 0;
			height: auto;
			animation: fadeToRight 3s ease forwards;

			> h1 {
				padding-top: 2%;
			}

			.buttonContainer {
				margin-bottom: 10%;
				margin-top: auto; /* Push the button container to the bottom */
			}
		}
	}

	.introductionImgContainer {
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		transition: all 0.05s;
		display: flex;
		height: 100svh;

		@media screen and (max-width: 1024px) {
			background-image: url('https://myselfpostersbucket11.s3.eu-central-1.amazonaws.com/galentines.png');
			height: 80svh;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			background-color: rgba(0, 0, 0, 0.082); // overlay color
			background-blend-mode: darken;
		}
	}
}

.products {
	padding: 2%;
	margin: 3%;
	width: 90%;
	display: flex;
	flex-direction: row;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	cursor: grab;
}

.buttonContainer {
	float: bottom;
}

.feedbackContainer {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	@media screen and (max-width: 1024px) {
		padding: 10%;
	}
}
.quizContainer {
	background: #fff7e3;
	border-radius: 1rem;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
	padding: 2rem;
	max-width: 600px;
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	transition: transform 0.2s ease;
	margin: auto;
	&:hover {
		transform: translateY(-4px);
	}

	> h1 {
		font-size: 1.3rem;
		font-family: 'Poppins', serif;
		font-weight: 400;
		margin-bottom: 3%;
	}
	@media screen and (max-width: 1024px) {
		padding: 10%;
		background-color: #fff7e3;
	}
}
