@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.container {
	height: 100%;
	padding-top: 3%;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	font-family: 'Raleway', sans-serif;
	font-size: 70px;
	text-align: center;

	.textContainer {
		// opacity: 1;
		@media screen and (max-width: 1024px) {
			width: 100vw;
			font-size: 8vw;
		}
		@media screen and (min-width: 880px) {
			width: 90vw;
			font-size: 4vw;
		}

		> img {
			width: 300px;
			padding-bottom: 3%;
		}

		padding: 2%;
		margin: 3%;
		width: 55vw;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		font-size: 2.5vw;
		font-weight: 400;

		color: #0f1928;
		box-sizing: border-box;
		border-collapse: separate;
		font-weight: 550;
	}

	.sustenabilityTextContainer {
		padding: 1%;
		margin: 3%;
		width: 80%;
		text-align: center;
		font-family: 'Raleway', sans-serif;
		font-size: 25px;

		color: #0f1928;
		box-sizing: border-box;
		border-collapse: separate;
		// padding: 2%;

		> img {
			width: 70px;
		}
	}

	@mixin myContainer($color, $url) {
		width: 100%;
		//background-color: rgb(255, 255, 255);
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url($url);
		@media screen and (max-width: 1024px) {
			background-size: cover;
		}
		background-position: center;
		transition: all 0.05s;
		height: calc(100vh - 70px);
		display: flex;
	}

	.imgContainer {
		@include myContainer(black, '../images/body_picture.jpg');
	}
	.homeContainer {
		@include myContainer(black, '../images/home.png');
	}
}

.products {
	padding: 2%;
	margin: 3%;
	width: 90%;
	display: flex;
	flex-direction: row;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	cursor: grab;
}
