.container {
	font-family: 'Gilda Display', serif;

	> h3 {
		font-size: 2rem;
		color: black;
	}

	.thankYou {
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.inputContainer {
		//background-color: white;

		.buttonContainer:hover {
			background-color: antiquewhite;
		}
	}
}
