.container {
	margin-right: 3%;
	margin-left: 3%;
	display: flex;
	flex-direction: column;

	@media screen and (max-width: 1024px) {
		margin-right: 0;
		margin-left: 0;
	}
	.ourWorldImg {
		margin-top: 3%;
		margin-bottom: 3%;
		border-radius: 60px;
	}

	.rowContainer {
		@media screen and (max-width: 1024px) {
			flex-direction: column;
			width: 100vw;
		}

		display: flex;
		flex-direction: row;
		height: auto;
		justify-content: center;
		border-radius: 60px;
		background-color: #fff7e3;
		align-items: center;
		padding: 3%;
		.button {
			font-family: Poppins;
			margin-bottom: 3%;
			text-align: center;
			border-radius: 10px;
			background-color: #7684ff;
			border: 0.1px solid #7684ff;

			color: #fff7e3;
		}

		.button:hover {
			border: 0.1px solid #7684ff;
			text-decoration: none;
			transition: none;
			color: #7684ff;
			background-color: #fff7e3;
		}

		.homePhoto {
			margin-top: 3%;
		}
		.imgContainer {
			@media screen and (max-width: 1024px) {
				width: 95vw;
				height: auto;
				background-size: contain;
				align-self: center;
			}

			width: 50%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			transition: all 0.05s;
			height: 350px;
			align-content: center;

			> img {
				@media screen and (max-width: 1024px) {
					width: 350px;
				}
				width: 500px;
			}
		}

		.text {
			@media screen and (max-width: 1024px) {
				margin-top: 5%;
				width: 95vw;
				padding-left: 0%;
				margin-right: 0%;
			}

			text-align: justify;
			align-self: center;
			width: 50%;
			padding-left: 3%;
			margin-right: 2%;

			.subheadline {
				font-size: 1.1rem;
			}
			.headline {
				font-size: 1.2rem;
				.italic {
					font-style: italic;
				}
			}
			> p {
				font-size: 1rem;
				font-family: 'Poppins', sans-serif;
			}
		}
	}
}
