.container {
	width: 35vw;
	padding-top: 10%;
	font-family: 'Raleway', sans-serif;
	> img {
		width: 35vw;
	}

	.meditation {
		text-align: justify;
		padding: 0;
		.title {
			font-weight: 500;
		}
	}
}
