.container {
	width: 35vw;
	padding-top: 10%;
	font-family: 'Raleway', sans-serif;
	cursor: default;
	> img {
		width: 35vw;
	}

	.meditation {
		text-align: justify;
		padding: 0;
	}

	> h3 {
		font-style: italic;
	}
}
