.container {
	@media screen and (max-width: 1024px) {
		flex-direction: column;
	}
	display: flex;
	flex-direction: row;
	height: auto;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	.imgContainer {
		@media screen and (max-width: 1024px) {
			width: 95vw;
		}
		width: 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		transition: all 0.05s;
		height: 500px;
		background-image: url('../images/photo2.webp');
	}

	.text {
		@media screen and (max-width: 1024px) {
			width: 95vw;
		}
		align-self: center;
		width: 50%;
		padding-left: 3%;
		margin-right: 2%;
		> h3 {
			color: #4255ff;
		}
		.subheadline {
			@media screen and (max-width: 1024px) {
				text-align: center;
			}
			font-size: 1.1rem;
		}
		> p {
			@media screen and (max-width: 1024px) {
				text-align: center;
			}
			font-size: 1rem;
			font-family: 'Raleway', sans-serif;
		}

		.paragraph {
			text-align: justify;
		}

		.benefits {
			display: flex;
			flex-direction: row;

			> img {
				width: 50px;
				height: auto;
			}
		}
	}
}
