@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
.clearfix {
	zoom: 1;
}

.container {
	text-align: center;
}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
/* end clearfix */

.heading {
	margin-top: 150px;
}

.text {
	padding-top: 3%;
	padding-bottom: 3%;
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.section-houses {
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Raleway', sans-serif;
	width: 70vw;
}

.houses-showcase {
	list-style: none;
	display: flex;
	flex-direction: column;
}

.photo {
	width: 50%;
	overflow: hidden;
	background: #000;
	border-radius: 3%;
	transition: opacity 0.5s, transform 0.5s;
}

.photo:hover {
	transform: scale(1.07);
}
