.container {
	display: flex;
	flex-direction: column;
	height: auto;

	.text {
		margin-top: 3%;
		text-align: justify;
		border-radius: 60px;
		padding: 3%;
		align-self: center;
		width: 50%;
		padding-left: 2%;
		margin-right: 2%;
		font-family: 'Poppins', sans-serif;

		// Media query for responsive design
		@media screen and (max-width: 1024px) {
			width: 100vw;
			padding: 5%;
			margin-right: 0;
			margin-bottom: 0%;
			border-radius: 40px; // Consider adjusting for mobile
		}

		> h3 {
			padding-top: 3%;
			padding-bottom: 3%;
		}

		.subheadline {
			font-size: 1.1rem;
		}

		.italic {
			font-style: italic;
			// Remove duplicate line
		}

		> p {
			font-size: 1rem;
			font-family: 'Poppins', sans-serif;
		}
	}
}
