.container {
	display: flex;
	flex-direction: row;
	height: auto;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 3%;
	align-items: center;
	border-radius: 60px;
	background-color: #fff7e3;

	@media screen and (max-width: 1024px) {
		flex-direction: column;
		width: 100vw;
		margin-right: 0%;
		margin-left: 0%;
	}
	.imgContainer {
		width: 50%;
		border-radius: 60px;

		@media screen and (max-width: 1024px) {
			width: 100vw;
		}
		background-repeat: no-repeat;
		background-size: cover;

		background-position: center;
		transition: all 0.05s;
		height: 500px;
		background-image: url('https://myselfpostersbucket11.s3.eu-central-1.amazonaws.com/sustenability.webp');
	}

	.text {
		@media screen and (max-width: 1024px) {
			width: 95vw;
			justify-content: center;
			padding: 10%;
		}
		align-self: center;
		width: 50%;
		padding-left: 3%;
		margin-right: 2%;

		.subheadline {
			font-size: 1.1rem;
			.buttonContainer {
				align-self: center;
				.button {
					width: auto;
					height: auto;
					font-family: 'Poppins', sans-serif;
					font-size: 0.9rem;
					transition: all 0.1s ease;
					background-color: #34001b;
					border: 0.1px solid #34001b;
					cursor: pointer;
					text-decoration: none;
					border-radius: 10px;
					color: #fff7e3;
					border: 0.1px solid #34001b;
				}

				.button:hover {
					border: 0.1px solid #34001b;
					text-decoration: none;
					transition: none;
					color: #34001b;
					animation: none;
					background-color: #fff7e3;
				}
			}
		}

		> p {
			font-size: 1rem;
			font-family: 'Poppins', sans-serif;
		}
	}
}
