/* visual.images.module.scss */

.container {
	display: flex;
	flex-direction: row;
	min-height: 600px;
	margin: 3%;
	margin-bottom: 0;

	@media screen and (min-width: 1400px) {
		margin-bottom: 3%;
	}
}

.firstContainer,
.secondContainer {
	width: 50%;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: all 0.05s;
}

.firstContainer {
	background-image: url('https://myselfpostersbucket11.s3.eu-central-1.amazonaws.com/image00003.webp');
	margin-right: 2%;
	justify-items: center;
	> h1 {
		padding-top: 50%;
		text-align: center;
	}

	.buttonStyle {
		padding: 1%;
		font-size: 1.3rem;
	}
}

.secondContainer {
	background-image: url('https://myselfpostersbucket11.s3.eu-central-1.amazonaws.com/image00011.webp');
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: self-end;
	padding: 1%;
	> h3 {
		color: #fff7e3;
		font-size: 1.3rem;
		> a {
			color: #7684ff;
			font-family: 'Raleway', sans-serif;
			font-size: x-large;
			font-weight: 600;
		}
	}
}

@media screen and (max-width: 1024px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	.firstContainer,
	.secondContainer {
		width: 95vw;
		height: 50vh;
		margin-bottom: 3%;
	}

	.firstContainer {
		margin-right: 0;
	}
}
