/* visual.images.module.scss */

.container {
	display: flex;
	flex-direction: row;
	min-height: 600px;
	margin: 3%;
}

.firstContainer,
.secondContainer {
	width: 50%;
	height: 80vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: all 0.05s;
}

.firstContainer {
	background-image: url('../images/image00003.jpeg');
	margin-right: 2%;
}

.secondContainer {
	background-image: url('../images/image00011.jpeg');
}

@media screen and (max-width: 1024px) {
	.container {
		display: flex;
		flex-direction: column;
	}

	.firstContainer,
	.secondContainer {
		width: 95vw;
		height: 50vh;
		margin-bottom: 3%;
	}

	.firstContainer {
		margin-right: 0;
	}
}
