// * {
// 	background-color: #fff6ec;
// }
.container {
	// width: 40vw;
	// height: 60vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-top: 10vh;
	margin-right: auto;
	position: relative; /* Add this if it's not already present */
	z-index: 1; /* Lower z-index to ensure it's behind the swatches */

	@media screen and (max-width: 1024px) {
		margin-top: 10%;
	}
	> h1 {
		font-family: 'Frank Ruhl Libre', serif;
		font-optical-sizing: auto;
		color: #000000;
		font-size: 2.5rem;
		font-style: italic;
		text-align: center;
	}

	.inputContainer {
		height: auto;
		padding: 1%;
		background-color: rgba(248, 221, 170, 0.2);
		border: 2px solid rgba(248, 221, 170, 0.8);
		border-radius: 10px;
		color: black;
		&:hover {
			background-color: rgba(248, 221, 170, 0.8);
			transition: background-color 0.3s ease;
		}
	}

	.formInput {
		border: 2px solid rgba(248, 221, 170, 0.8);
		border-radius: 10px;
	}

	.buttonContainer {
		font-weight: 500;
		color: black;
	}
}
