$primary: #ffffff;
$secondary: #ffdb93;
$bg: #ffffff;
$text: #1f1f1f;

.quizContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: $bg;
	padding: 2rem 1rem;
	color: $text;
	text-align: center;

	> div {
		background: white;
		padding: 2rem;
		border-radius: 1rem;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
		width: 100%;
		max-width: 700px;
		font-family: 'Poppins', sans-serif;
	}
}

.questionSection {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 1.1rem;
		margin-bottom: 0.5rem;
		color: #34001b;
		font-weight: 400;
	}

	h3 {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
	}
	> h1 {
		font-family: 'Poppins', serif;
		margin-bottom: 6%;
		font-weight: 400;
		font-size: 1.6rem;
	}

	.nextButton {
		cursor: pointer;
		margin-top: 10%;
		transition: background-color 0.3s;
		width: 6vw;
		height: 3vw;
		@media screen and (max-width: 1024px) {
			width: 20vw;
			height: 10vw;
		}

		/* ----- Disabled state ----- */
		&:disabled,
		&[disabled] {
			cursor: not-allowed;
			opacity: 0.5; // visual dim
			background: #ffdb93; // keep same hue for brand
			color: #1f1f1f;
			/* optional: remove shadow / border effects here */
			box-shadow: none;
		}
	}
}

.options {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	width: 100%;
	button:focus {
		outline: none;
		-webkit-tap-highlight-color: transparent;
	}

	button {
		width: 100%;
		padding: 0.75rem 1rem;
		border: 2px solid #ffdb93;
		border-radius: 0.5rem;
		background: #fff7e3;
		font-weight: 500;
		cursor: pointer;
		transition: 0.2s;
		color: black;
		padding: 2%;

		@media screen and (max-width: 1024px) {
			padding: 6%;
		}
	}

	.selectedOption {
		border: 3px solid #34001b !important;
		color: #1f1f1f;
		background: #ffdb93;
	}
}
