$primary: #7684ff;
$secondary: #ffdb93;
$bg: #ffffff;
$text: #1f1f1f;

.quizContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: $bg;
	padding: 2rem 1rem;
	color: $text;
	text-align: center;

	> div {
		background: white;
		padding: 2rem;
		border-radius: 1rem;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
		width: 100%;
		max-width: 600px;
		font-family: 'Raleway', sans-serif;
	}
}

.questionSection {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 1.1rem;
		margin-bottom: 0.5rem;
		color: #7684ff;
		font-weight: 600;
	}

	h3 {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
	}
	> h1 {
		font-family: 'Frank Ruhl Libre', serif;
		margin-bottom: 6%;
	}
}

.options {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	width: 100%;

	button {
		width: 100%;
		padding: 0.75rem 1rem;
		border: 2px solid #ffdb93;
		border-radius: 0.5rem;
		background: #fff7e3;
		font-weight: 600;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			border-color: $primary;
			background: #ffdb93;
		}
	}
}

.selectedOption {
	background: $primary !important;
	color: white !important;
	border-color: $primary !important;
}

.nextButton {
	margin-top: 1.5rem;
	padding: 0.75rem 1.5rem;
	background: $primary;
	color: black;
	border: none;
	border-radius: 0.5rem;
	font-weight: bold;
	cursor: pointer;
	transition: 0.2s;

	&:disabled {
		background: lighten($primary, 35%);
		cursor: not-allowed;
	}
}

.result {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
		font-family: 'Frank Ruhl Libre', serif;
	}

	h3 {
		margin-top: 1.5rem;
		margin-bottom: 2rem;
		font-size: 1.2rem;
	}

	p {
		font-size: 1rem;
		margin-top: 0.5rem;
	}

	button {
		margin-top: 2rem;
		padding: 0.75rem 1.5rem;
		background: $secondary;
		color: white;
		border: none;
		border-radius: 0.5rem;
		font-weight: bold;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			background: darken($secondary, 10%);
		}
	}
}

.colorResults {
	display: flex;
	gap: 1.5rem;
	justify-content: center;
	flex-wrap: wrap;

	.colorCircleWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.colorCircle {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
		margin-bottom: 0.5rem;
	}

	.colorLabel {
		font-size: 0.9rem;
		color: #333;
		text-align: center;
	}
}
