$primary: #ffffff;
$secondary: #ffdb93;
$bg: #ffffff;
$text: #1f1f1f;

.quizContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: $bg;
	padding: 2rem 1rem;
	color: $text;
	text-align: center;

	> div {
		background: white;
		padding: 2rem;
		border-radius: 1rem;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
		width: 100%;
		max-width: 600px;
		font-family: 'Raleway', sans-serif;
	}
}

.questionSection {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-size: 1.1rem;
		margin-bottom: 0.5rem;
		color: #7684ff;
		font-weight: 600;
	}

	h3 {
		font-size: 1.3rem;
		margin-bottom: 1.5rem;
	}
	> h1 {
		font-family: 'Frank Ruhl Libre', serif;
		margin-bottom: 6%;
	}
}

.options {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	width: 100%;

	button {
		width: 100%;
		padding: 0.75rem 1rem;
		border: 2px solid #ffdb93;
		border-radius: 0.5rem;
		background: #fff7e3;
		font-weight: 600;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			border-color: $primary;
			background: #ffdb93;
		}
	}
}

.selectedOption {
	background: #ffdb93 !important;
	border-color: $primary !important;
}

.nextButton {
	cursor: pointer;
	transition: background-color 0.3s;
	width: 16vw;
	height: auto;
	padding: 5%;

	@media screen and (max-width: 1024px) {
		width: 30vw;
	}
	&:disabled {
		background: lighten($primary, 35%);
		cursor: not-allowed;
	}
}
