.container {
	margin-right: auto;
	margin-left: auto;
	margin-top: 3%;
	font-family: 'Poppins';
	font-style: normal;
	text-align: center;
	font-display: swap;
	font-weight: 500;
	margin-bottom: 5%;
	.image {
		width: 40vw;
		margin: 1%;
		@media screen and (max-width: 1024px) {
			width: 90vw;
		}
	}

	> h1 {
		font-family: 'Frank Ruhl Libre', serif;
		font-optical-sizing: auto;
		color: #000000;
		font-size: 2rem;
		margin: 2%;
		font-style: italic;
		text-align: center;
	}

	> h2 {
		margin-top: 3%;
		margin-right: auto;
		margin-left: auto;
		color: black;
		width: 50vw;
		font-size: 1.1rem;
		font-family: 'Poppins';
		text-align: justify;
		font-style: normal;
		font-display: swap;
		font-weight: 500;
		@media screen and (max-width: 1024px) {
			font-size: 0.9rem;
			width: 90vw;
		}
	}
}
